footer {
    color: #eeeeeec4;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-inline: auto;
}

a {
    color: #eeeeeec4;
    margin-inline: 50px;
}

@media (max-width: 365px) {
    a {
        margin-inline: 25px;
    }
}