footer {
    background-color: #393E46;
    color: #eeeeeec4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: #eeeeeec4;
    margin-left: 75px;
    margin-right: 75px;
}