<header>
    <nav>
        <div>
            <h1>Hotel Dos Cumbres</h1>
        </div>
        <div>
            <div id="contacto">
                <h5>Contactos</h5>
            </div>
            <div id="datos_contacto">
                <mat-icon>call</mat-icon>
                <h5>34223421</h5>
                <mat-icon>mail</mat-icon>
                <h5>hoteldoscumbres&#64;mailgenerico.com</h5>
                <mat-icon>location_on</mat-icon>
                <h5>Los Manoles 455</h5>
            </div>
        </div>
    </nav>
</header>