nav {
    background-color: #393E46;
    color: #eeeeeec4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#contacto {
    display: flex;
    justify-content: center;
}

#datos_contacto {
    display: flex;
    justify-content: space-between;
    h5 {
        margin-inline: 20px;
    }
}