nav {
    background-color: #393E46;
    color: #eeeeeec4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#titulo { 
    padding-left: 50px;
}

#contacto {
    padding-right: 50px;
}