div {
    display: flex;
    justify-content: center;
}

article {
    visibility: hidden;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 15px;
    padding-inline: 20px;
    background-color: rgb(103, 225, 66);
    color: white;
}

@keyframes scroll_down {
    0% {
        visibility: visible;
        transform: translateY(-100%);
    }
    50%{
        transform: translateY(30%);
    }
    100%{
        visibility: hidden;
        transform: translateY(-150%);
    }
}

.reserve_sent {
    animation: scroll_down 6s;
}