#parent_container {
    overflow-x: hidden;
    width: 100%;
    visibility: hidden;
}

#generic_articles {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #393E46;
    color: #eeeeeec4;
    border: solid 1px #eeeeeec4;
    border-radius: 15px;
    margin: 0px 30px 0px 30px;
    padding: 0px 10px 0px 10px;
    img {
        width: 400px;
        height: 250px;
        border-radius: 10px;
    }
    h5 {
        margin-bottom: 0%;
    }
    p {
        margin-top: 0%;
    }
}

@keyframes slide_from_the_right {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

.in_view {
    animation: slide_from_the_right 4s;
}

@media (prefers-reduced-motion: reduce) {
    .in_view {
        animation: none;
    }
}