<div id="parent_container">
    <div id="generic_articles">
        <article>
            <img src="https://cdn.pixabay.com/photo/2015/09/21/09/53/villa-cortine-palace-949547_1280.jpg" loading="lazy"/>
            <h2>Salon Multiusos</h2>
            <p>Nuestro salón multiusos es el escenario perfecto para cualquier ocasión especial. Con una decoración elegante y versátil, este espacio se adapta a tus necesidades, ya sea para conferencias de negocios, banquetes de bodas o eventos sociales. Equipado con la última tecnología audiovisual y un equipo de expertos en eventos, te garantizamos una experiencia impecable que dejará a tus invitados impresionados.</p>
        </article>
        <article>
            <img src="https://cdn.pixabay.com/photo/2021/02/03/00/10/receptionists-5975962_1280.jpg" loading="lazy"/>
            <h2>Trabajadores del Hotel</h2>
            <p>En el Hotel Dos Cumbres, nuestro equipo de trabajadores es el corazón y el alma de nuestra hospitalidad. Desde el personal de recepción hasta el equipo de limpieza y el equipo de cocina, todos están dedicados a brindarte un servicio excepcional y una experiencia inolvidable. Con su amabilidad, profesionalismo y atención al detalle, hacen que cada momento de tu estancia sea especial y memorable.</p>
        </article>
        <article>
            <img src="https://cdn.pixabay.com/photo/2013/07/19/00/18/water-165219_1280.jpg" loading="lazy"/>
            <h2>La Pileta</h2>
            <p>Sumérgite en la serenidad y el lujo en nuestra impresionante piscina. Rodeada de exuberante vegetación y con vistas panorámicas a las montañas, este oasis acuático es el lugar perfecto para relajarte y refrescarte bajo el sol. Ya sea nadando unas vueltas para mantenerte en forma o simplemente disfrutando de un cóctel junto a la piscina, te garantizamos momentos de placer y bienestar en este paraíso acuático del Hotel Dos Cumbres.</p>
        </article>
    </div>
</div>