div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #eeeeeec4;
    font-size: 60px;
}

button {
    background-color: #00ADB5;
    color: #eeeeeec4;
    border-style: none;
    border-radius: 25px;
    width: 150px;
    height: 50px;
    font-size: 18px;
    margin-bottom: 50px;
}
  
  @keyframes scrollImages {
    0% {
      transform: translateX(80%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  /*The image-container-parent class affects the element as a whole combining all the children into a single element */
  .image-container-parent {
    overflow-x: hidden;
    width: 100%;
    position: relative;
    img {
        width: 650px;
        height: 350px;
    }
  }

  /*The image-container-children class is responsible for the children tags inside of the parent element and makes sure they have the correct appeareance */
  .image-container-children {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
    animation: scrollImages 60s linear infinite;
  }

  @media (prefers-reduced-motion: reduce) {
    .image-container-children {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 20px;
      animation: none;
    }

    .image-container-parent {
      margin-left: 120px;
      img {
        width: 450px;
        height: 250px;
      }
    }
  }