<div>
    <h2>Tu lugar de descanso al pie de las montañas</h2>
    <h3>Las opiniones de nuestros huespedes</h3>
    <div id="resenias">
        <article>
            <p>{{review_list[first_review_index].text_review}}</p>
            <div id="nombre_e_imagen">
                <img src="{{review_list[first_review_index].portrait}}" loading="lazy"/>
                <h5>{{review_list[first_review_index].reviewer_name}}</h5>
            </div>
        </article>
        <article>
            <p>{{review_list[second_review_index].text_review}}</p>
            <div id="nombre_e_imagen">
                <img src="{{review_list[second_review_index].portrait}}" loading="lazy"/>
                <h5>{{review_list[second_review_index].reviewer_name}}</h5>
            </div>
        </article>
        <article>
            <p>{{review_list[third_review_index].text_review}}</p>
            <div id="nombre_e_imagen">
                <img src="{{review_list[third_review_index].portrait}}" loading="lazy"/>
                <h5>{{review_list[third_review_index].reviewer_name}}</h5>
            </div>
        </article>
    </div>
</div>