div {
    color: #eeeeeec4;
    width: 100%;
    overflow-x: hidden;
}

h2 {
    margin-left: 20px;
}

h3 {
    margin-left: 20px;
}

#resenias {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px 30px 0px;
    visibility: hidden;
}

article {
    background-color: #393E46;
    list-style-type: none;
    font-size: 14px;
    margin: 0% 20px 0% 20px;
    padding: 15px 0px 15px 15px;
    border-radius: 15px;
    border: 1px solid #eeeeeec4;
}

img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-right: 20px;
}

#nombre_e_imagen {
    display: flex;
    justify-content: start;
    font-size: 26px;
    margin-bottom: -2rem;
    h5 {
        margin-top: 10px;
    }
}

@keyframes slide_from_the_right {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

.in_view {
    animation: slide_from_the_right 4s;
}

@media (prefers-reduced-motion: reduce) {
    .in_view {
        animation: none;
    }
}